# Environments
env/
venv/
.venv/

# Python Build Artifacts
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

# Test cache
.pytest_cache/
